.container-fluid {
    padding: 0;
    margin: 0;
}
.main{
	padding: 30px 15px;
}
.head-cont{
	margin: 0;
}
.cr-tuto{
	margin: 0;
}
.cr-tuto label{
	margin-bottom: 5px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: static;
    margin-top: 4px\9;
    margin-left: 0px;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 5px;
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: 400;
    cursor: pointer;
}
.cr-tuto button{
    margin-left: 50%;
    width: 100px;
    text-align: center;
}